plugins/nbu/src/main/java/com/gillsoft/model/exchange.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="exchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="r030"/>
              <xs:element type="xs:string" name="txt"/>
              <xs:element type="xs:float" name="rate"/>
              <xs:element type="xs:string" name="cc"/>
              <xs:element type="xs:string" name="exchangedate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>